body {
    font-family: 'Oxygen', sans-serif;
}

.top, .bottom{
    min-height: 175px;
    position: relative;
}

.wrapper {
    background-color: #0fc8be;
}

.container-main {
    background-color: white;
    padding-top: 15px;
}

.btn-add {
    width: 100%;
    margin-bottom: 15px;
    overflow: hidden;
    height: 125px;
    padding: 10px;
    background-color: transparent;
    border: solid 3px;
}

.btn-board{
    width: 100%;
    background-color: white;
    border: dashed 3px rgb(200, 15, 25);
    border-radius: 8px;
    margin-bottom: 15px;
    overflow: hidden;
    height: 125px;
    padding: 10px;
}

.btn-board:hover, .btn-add:hover {
    font-size: larger;
}
.btn-add:hover {
    border: dashed 3px rgb(200, 15, 25);
}

.btn-board:hover {
    background-color: rgb(240, 240, 240);
    border: 1px solid rgb(240, 240, 240);
}


.container-box {
    margin-bottom: 15px;
    height: 125px;
}
h1 {
    text-align: center;
    background-color: white;
    margin-top: -60px;
    margin-left: auto;
    margin-right: auto;
    max-width: 40%;
    /*position: absolute;*/
    /*bottom: 0;*/
    padding: 20px;
}

.form-control:focus, textarea:focus, input:focus{
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(159,233,229   ,.6);
    border-color: #0fc8be;
    outline: 0;
}

#save-btn, #card-saver {
    background-color: #0fc8be;
}

#save-btn:hover, #card-saver:hover {
    background-color: white;
    border: 3px dashed rgb(200, 15, 25);
}

.modal-header {
    border-bottom: dashed 3px rgb(200, 15, 25);
}

.modal-footer {
    border-top: dashed 3px rgb(200, 15, 25);
}

.list-group-item {
    /*-webkit-appearance: initial;*/
    border-radius: 8px;
    border: 1px solid #0fc8be;
}
.list-group-item:hover {
    background-color: #0fc8be !important;
}

.btn-default:active {
    -webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
    background: #0ca098;
    border: solid 1px #06504c;
}

/*.active {
    box-shadow: 3px 3px 10px 2px gray;
}

.add-active {
    box-shadow: 3px 3px 10px 2px gray;
    border: solid 2px lightblue;
}

div.modal-body {
    background-image: url("img/swirl_pattern.png");
}

.cards {
    overflow: hidden;
    text-overflow: ellipsis;
}