.panel-footer>p>a {
    color: grey;
}

.active {
    background-color: transparent;
    box-shadow: 3px 3px 10px 2px gray;
}
.navbar {
    background-image: url("swirl_pattern.png");

}

.col-md-6 {
    text-align: center;
    box-shadow: 2px 2px 10px 2px #a8a8a8;
    border-radius: 5px;
    height: auto;
    min-height: 150px;
}

#board_title {
    font-size: 30px;
    text-align: center;
}

.card {
word-wrap: break-word;
    font-size: 20px;
    background-color: white;
    min-height:40px;
    height: auto;
    border-radius: 5px;
    margin: 10px;
    border:solid 1px white;
    text-align: justify;
    vertical-align: middle;
    padding: 5px;
    box-shadow: 1px 1px 5px 2px #a8a8a8;
    border-radius: 5px;
}